

.timeline-box {
    fill : #E76B74;
    transition: all 0.3s ease-in-out;
}

.timeline-title-container {
    fill:#3c4859;
}

.timeline-title-text {
    fill:#D7AF70;
    white-space: nowrap;
}

.timeline-box-container {
    white-space: nowrap;
}

.timeline-box-container:hover > .timeline-date {
    opacity:1;
}

.timeline-box-container:hover > .timeline-box {
    fill:#EA526F;
}

.timeline-date {
    font-size:14px;
    fill:#eee;
    opacity:0;
    transition: 0.3s opacity ease-in-out;
}