body, html {
    height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue','Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
    font-weight: 100;
    text-align: center;
    color: #666;
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 50px;
}

#trial-input-area{
    width:995px;
    resize: none;
    margin-top: 15px;
}

#input-error-area {
    width:1000px;
    color: #ff8585;
    background-color: #ffdada;
    text-align: center;
    margin-top: 15px;
    display:none;
}

#no-trials {
    background-color:#fafafa;
    text-align: center;
    color:#999;
    font-style: italic;
    width: 1000px;
    padding: 100px 0px;
}